@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/_mixins";

::placeholder {
	color: #666;
}

::selection {
	background-color: $primary;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $secondary;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
}


.header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1750px;
	width: 100%;
	top: 5%;
	z-index: 10;

	.header-nav {
		width: 100%;

		ul {
			margin: 0;
			padding: 0;
			text-align: right;

			li {
				display: inline-block;
				padding-right: 4%;
				list-style: none;

				&:last-child {
					padding-right: 0;
				}

				a {
					text-transform: uppercase;
				}
			}
		}
	}
}

.carousel-row {
	position: relative;
	
	.slide-text-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-20%, -20%);
		max-width: 750px;

		.slide-precaption {
			color: $primary;
			font-size: 2rem;
		}

		.slide-caption {
			width: 70%;
			color: $primary;
			text-transform: uppercase;
			font-size: 3rem;
			line-height: 60px;
		}

		.slide-description {
			margin-bottom: 5%;
			color: $primary;
		}

		.slide-button {
			padding: 10px 5%;
			background-color: $primary;
			color: gray;
			border-radius: 20px;
		}
	}
}

.advantages {
	min-height: 490px;
	height: 100%;

	.advantages-wrapper {
		display: flex;
		width: 1140px;
		min-height: 490px;
		height: 100%;
		margin: 0 auto;
		transform: translateY(-20%);

		.left-section {
			display: flex;
			align-items: center;
			position: relative;
			background-image: linear-gradient(to bottom, rgba(20,157,144,.6) 0%,rgba(20,157,144,.6) 100%), url('../img/adv-image.jpg');
			background-repeat: no-repeat;
			background-size: cover;

			.text-section {
				padding: 0 10%;
				color: $primary;
			}

			.left-section-link {
				position: absolute;
				color: gray;
				left: 0;
				bottom: 10%;
				padding: 10px 10%;
				background-color: $primary;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}

		.right-section {
			display: flex;
			align-items: center;
			background-color: $primary;
			box-shadow: 5px 5px 40px 5px rgb(201, 200, 200);

			.right-section-wrapper {
				display: flex;
				flex-wrap: wrap;

				.item-wrapper {
					display: flex;
					width: 46%;
					margin: 2% 2%;

					&:nth-child(1) {
						img {
							width: 55%;
						}
					}

					&:nth-child(2) {
						img {
							width: 35%;
						}
					}
				}

				.item-image {
					width: 30%;
					margin-top: 10px;
					text-align: center;

					img {
						width: 50%;
					}
				}

				.item-header {
					font-size: 1.6rem;
				}
			}
		}
	}
}

.values {
	position: relative;
	min-height: 620px;
	height: 100%;
	background: url('../img/values-background.jpg') no-repeat;

	.values-man {
		position: absolute;
		left: 10%;
	}
}

@import "media"; // Always at the end
